html, body {
    background-color: #fff;
    font-weight: 200;
    width: 1280px;
    margin: 0 auto;
    font-family: Nunito,sans-serif;
}
/*-------------------------------Homepage---------------------------*/
.header{
    background-color: #fff;
}
.headersection{
    display:flex;
    justify-content: space-between;
}
.headernav{
    margin-top: 40px;
    font-size: 1.1rem;
}
.headernav a{
    margin:  40px 30px 30px 40px;
    text-decoration: none;
}
.beforecontent{
    margin-top: 80px;
    width:500px;
}
.content{
    display: flex;
    justify-content: space-between;
}
.contentsections{
    display:flex;
    justify-content: space-around;
}
.contentleft{
    margin-top: 90px;
    width:500px;
}
.contentright{
    width:600px;
    margin-top: 90px;
}
/*-------------------------------Loginpage---------------------------*/
.navbar-brand{
    text-decoration: none;
    color: #000;
    font-size: 1.1rem;
}
.navbar-nav{
    display:flex;
    justify-content: space-around;
}























